fastapi==0.104.1
beanie==1.23.6
uvicorn[standard]==0.21.1
httpx==0.24.1
python-multipart==0.0.6
tomli==2.0.1
aiohttp==3.8.4
orjson==3.9.0
aiohttp-sse-client~=0.2.1
pydantic-settings==2.1.0
aiohttp_sse_client2==0.3.0